* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.hide {
    display: none !important;
}

header {
    text-align: center;
    height: 50px;
    font-weight: bolder;
    font-size: xx-large;
    background-color: rgb(68, 145, 218);
}

.cont  {
    display: grid;
    width: 70vw;
    gap: 10px;
    margin: 0 auto;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
}

.filters {
    padding: 0;
}

.icons {
    height: 20px;
    width: auto;
    padding-right: 5px;
}

.filters li {
    list-style: none;
}

.lists {
    padding: 5px;
}

.list-name:hover {
    cursor: pointer;
}

.list {
    display: flex;
    align-items: center;
}

.list-title {
    margin: 0 0 0 10px;
    font-size: small;
    font-style: italic;
}

.list span {
    margin: 0 5px;
}

.list:hover {
    cursor: pointer;
}

.tasks-view {
    border: solid;
}

.sidebar {
    border: solid;
    min-width: 150px;
}

#add-list-form {
    display: flex;
    margin: 0 5px;
}

#add-list-input {
    width: 60%;
}

.list.selected {
    font-weight: bolder;
    color: red;
}

.filter.selected {
    color: red;
}

.todo-header {
    display: flex;
    background-color:rgb(163, 181, 199);
    justify-content: space-between;
    border-radius: 5px;
    padding: 6px;
}

#todo-counter {
    font-size: small;
    align-self: center;
}

#todo-title {
    font-size: x-large;
}

.task {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5%;
    padding: 10px;
}

.task-description {
    width: 100%;
}

#tasks-view {
    border: solid black;
}

input[type=checkbox]:checked + label.task-title{
    text-decoration: line-through;
    opacity: 0.5;
}

.scratched {
    text-decoration: line-through;
    opacity: 0.5;
}

input {outline: none;}

#edit-tasks input:focus, #edit-tasks textarea:focus, #add-tasks input:focus, #add-tasks textarea:focus {
    outline: lightskyblue solid 1px;
    box-shadow: 0 1px 4px;
}

.task-title {
    padding: 2px 0 4px 6px;
    margin: 0;
    font-size: large;
    font-weight: bold;
}

.task-header {
    width: 100%;
    border-bottom: solid black;
    border-width: thin;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkbox-and-title {
    display: flex;
    align-items: center;
}

.new-task {
    display: flex;
    justify-content: flex-start;
    margin: 5px;
}

.btn.disabled:hover {
    cursor: not-allowed;
}

.deleters {
    display: flex;
    justify-content: flex-start;
    margin: 5px;
    flex-wrap: wrap;
}

.deleters button {
    margin: 5px 5px 5px 0;
}


.modal-inputs {
    border-radius: 4px;
    margin: 6px;
    border: lightgray inset thin;
}

#add-tasks {
    display: flex;
    flex-direction: column;
}

#edit-tasks {
    display: flex;
    flex-direction: column;
}

#new-task-description {
    resize: none;
}

#edit-task-description {
    resize: none;
}

#close-x {
    font-size: large;
}

#close-x:hover, .edit-task:hover {
    cursor: pointer;
}

.edit-task {
    color: green;
    padding: 0 15px 0 15px;
}

.date-edit-delete {
    display: flex;
    margin-left: 4px;
}