* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.hide {
    display: none !important;
}

header {
    text-align: center;
    height: 50px;
    font-weight: bolder;
    font-size: xx-large;
    background-color: rgb(68, 145, 218);
    margin-bottom: .5rem;
}

.cont  {
    display: grid;
    width: 70vw;
    gap: 10px;
    margin: 0 auto;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
}

.filters {
    padding: 0;
}

.icons {
    height: 20px;
    width: auto;
    padding-right: 5px;
}

.filters li {
    list-style: none;
}

.lists {
    padding: 5px;
}

.list-name {
    font-size: large;
}

.list-name:hover {
    cursor: pointer;
}

.list {
    display: flex;
    align-items: center;
    padding: 2px 9px;
    justify-content: space-evenly;
}

.list-title {
    margin: 0 0 0 10px;
    font-size: small;
    font-style: italic;
}

.list span {
    margin: 0 5px;
}

.list:hover {
    cursor: pointer;
}

.sidebar {
    min-width: 150px;
}

#add-list-form {
    display: flex;
    margin: 0 5px;
    justify-content: space-between;
}

#add-list-input {
    width: 70%;
}

.list.selected {
    color: rgb(172, 0, 0);
    background-color: rgba(0, 122, 41, 0.3);
    border-radius: 10px;
    font-weight: bolder;
}

.filter.selected {
    color: rgb(172, 0, 0);
    border-radius: 10px;
}

.filter.selected.allTasks {
    background-color: rgb(68, 145, 218,.2);
}

.filter.selected.today {
    background-color: rgba(255, 217, 0, 0.3);
}

.filter.selected.next-week {
    background-color: rgba(36, 119, 54, 0.2);
}

.filter {
    display: flex;
    align-items: center;
    padding: 3px;
}

.todo-header {
    display: flex;
    background-color:rgb(163, 181, 199, 0.6);
    justify-content: space-between;
    border-radius: 10px;
    padding: 6px;
    border: rgba(0,0,0,0.4) solid 1px;
}

#todo-counter {
    font-size: small;
    align-self: center;
}

#todo-title {
    font-size: x-large;
    font-weight: bolder;
}

.task {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 10px;
    margin: .3rem 0;
    border: rgba(0,0,0,0.4) solid 1px;
}



.task-description {
    width: 100%;
}

input[type=checkbox]:checked + label.task-title{
    text-decoration: line-through;
    opacity: 0.5;
}

.scratched {
    text-decoration: line-through;
    opacity: 0.5;
}

input {outline: none;}

#edit-tasks input:focus, #edit-tasks textarea:focus, #add-tasks input:focus, #add-tasks textarea:focus {
    outline: lightskyblue solid 1px;
    box-shadow: 0 1px 4px;
}

.task-title {
    padding: 2px 0 4px 6px;
    margin: 0;
    font-size: large;
    font-weight: bold;
}

.task-header {
    width: 100%;
    border-bottom: solid black;
    border-width: thin;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkbox-and-title {
    display: flex;
    align-items: center;
}

.new-task {
    display: flex;
    justify-content: flex-start;
    margin: 5px 0 0 0;
}

.btn.disabled:hover {
    cursor: not-allowed;
}

.deleters {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    flex-wrap: wrap;
}

.deleters button {
    margin: 5px 5px 5px 0;
}


.modal-inputs {
    border-radius: 4px;
    margin: 6px;
    border: lightgray inset thin;
}

#add-tasks {
    display: flex;
    flex-wrap: wrap;
}

#edit-tasks {
    display: flex;
    flex-direction: column;
}

#new-task-title {
    flex: 0 0 100%;
}

#new-task-description {
    resize: none;
    flex: 0 0 100%;
}

#edit-task-description {
    resize: none;
}

#close-x {
    font-size: large;
}

#close-x:hover, .edit-task:hover {
    cursor: pointer;
}

.edit-task {
    color: green;
    padding: 0 15px 0 15px;
}

.date-edit-delete {
    display: flex;
    margin-left: 4px;
}

#date-picker {
    flex: 0 0 30%;
    margin: 1rem 1rem 0 auto;
}

#priority {
    flex: 0 0 30%;
    margin: 1rem auto 0 1rem;
}

.task.low {
    background-color: rgb(10, 228, 10, 0.3);
}

.task.medium {
    background-color: rgba(252, 255, 67, 0.452); 
}

.task.high {
    background-color: rgba(255, 0, 0, 0.2);
}

.task.expired {
    background-color: rgba(255, 0, 0, 0.7);
}